<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Vmware-Devops</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>

<body>

	<div class="page-header">
		<h1>Artifact Comparator</h1>
		<p>This tool is used to validate the artifacts deployed in all Non
			CD/CI instances.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card" style="width: 15rem">
					<img class="card-img-top" src="../static/img/card_img.jpg"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Date</h5>
						<p class="card-text">Validate the deployment for all
							user-stories between two given dates.</p>
						<a href="#" class="btn btn-primary">Compare</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card" style="width: 15rem">
					<img class="card-img-top" src="../static/img/card_img.jpg"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">User Story</h5>
						<p class="card-text">Validate the deployment for a given User
							Story.</p>
						<a href="#" class="btn btn-primary">Compare</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>